@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::after,*::before{
     box-sizing: border-box;
}

body{
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    line-height: 1.5;

}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
a{
    display: inline-block;
    text-decoration: none;
    color: #4B4B4B;
}
/* 導航列 */
.header{
    display: flex;
    justify-content: center;
}
.header ul{
    display: flex;
}
.header a{
    font-size: 28px;
    font-weight: 700;
    color: #000000;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 20px;
    padding-left: 20px;
    display: block;
}
/* 主要內容 */
/* banner */
.banner {
    display: flex;
    height: calc(100vh - 90px);
}

.banner-photo {
    width: 50%;
}
.banner-photo img{
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.banner-introduce {
    width: 50%;
    background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.banner-introduce-content {
    text-align: left;
    color: #0027D5;
    margin-left: 80px;
}

.banner-introduce-content h1 {
    font-size: 120px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 12px;
    letter-spacing: 0.05em;
}

.banner-introduce-content p {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
}
@media(max-width:767px){
    .banner {
    flex-wrap: wrap;
    }
    .banner-photo {
    width: 100%;
}
    .banner-introduce{
    width: 100%;
    height: 180px;    
    }
    .banner-introduce-content {
    margin-left: 0;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: auto;
}
    .banner-introduce-content h1 {
    font-size: 52px;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 12px;
    letter-spacing: 0.05em;
}

    .banner-introduce-content p {
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
}
}

/* 最新文章 */
.new{
    display: flex;
}
.new-photo{
    width: 50%;
}
.new-photo img{
    width: 50%;
}
.newindexbox{
    width: 50%;
    padding-left: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.newindex{
    width: 636px;
}
.newindex .subtitle{
    display: flex;
}
.newindex .hashtag{
    color: #0027D5;
    font-size: 24px;
    padding-right: 8px;
}
.newindex .news{
    background: #0027D5;
    color: white;
    border: #000000 solid 1px;
    display: inline;
    border-radius: 80px;
    padding: 6px 12px;
    font-weight: 700;
}
.newindex .title{
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}
.newindex .article{
    color: #4B4B4B;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 16px;
}
@media(max-width:767px) {
    .new-photo{
        width: 100%;
    }
    .new {
        flex-wrap: wrap;
    }
    .newindex{
        max-width: calc(100vw - 24px)
    }
}

/* 文章看板 */
.container{
    width: 1320px;
    margin: 0 auto;
    padding: 0px 12px;
}
.search {
    margin-bottom: 40px;
}

.search-bar {
    width: 32%;
    font-size: 16px;
    border-radius: 80px;
    padding: 16px 48px;
    background-image: url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-search-strong-128.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 25px;
    line-height: 150%;
    height: 56px;
    margin-top: 80px;
}

@media(max-width:767px) {
    .search-bar {
        width: 100%;
    }
}
.article-list{
    display: flex;
    flex-wrap: wrap;
    gap: 80px 24px;
}
.card{
    width: 416px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.card-head{
    margin-bottom: 16px;
}
.card .time{
    margin-bottom: 4px;
    gap: 4px;
}
.card .hashtag{
    color: #0027D5;
    font-size: 24px;
    padding-right: 8px;
}
.card .hito{
    background: #0027D5;
    color: white;
    border: #000000 solid 1px;
    display: inline;
    border-radius: 80px;
    padding: 6px 12px;
    font-weight: 700;
}
.card .title{
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}
.card .article{
    color: #4B4B4B;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 16px;
}
.button{
    color: #4B4B4B;
    border: solid 1px #000000;
    padding: 8px 16px;
    border-radius: 80px;
}
.button:hover{
    color:white;
    background: #000000;
}
.page-bar{
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
}
.page-bar a{
    width: 40px;
}
@media(max-width:767px) {
    .container {
        max-width:calc(100vw - 24px);
    }
}
/* 頁尾 */
.contact{
    width: 1320px;
    margin: 0 auto;
    padding: 0px 12px;
    display: flex;
    justify-content: space-between;
}
.email{
    font-size: 32px;
}
.icon-list{
    display: flex;
}
.footer{
    padding: 24px;
    text-align: center;
}

@media(max-width:767px) {
    .contact {
       display: none;
    }
}
